@model Book


<h2>Edit Book</h2>

<form asp-action="Edits" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category"></label>
        <textarea asp-for="Category" class="form-control"></textarea>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=" AvailabilityStatus"></label>
        <textarea asp-for=" AvailabilityStatus" class="form-control"></textarea>
        <span asp-validation-for=" AvailabilityStatus" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Save Changes</button>
</form>

<a asp-action="Detail" class="btn btn-secondary">Back to List</a>
